<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<div class="main-content">
{{>header}}
<p>{{message}}</p>
</div>
{{>footer}}
</body>
</html>